#formAdmin {
    width: 100%;
    margin: 15px auto;
    display: flex;
    flex-direction: column;
}

#AgregarProd, #EditarProd {
    width: 48%;
}

@media screen and (min-width: 768px) {
    /* breakpoint para tablet */

    #formAdmin {
        flex-direction: row;
        justify-content: space-between;

    }

}